body {
  font-family: 'TT Severs', sans-serif;
}
.newswrap {
  background: #F7F7F7;
  display: flex;

}
.regandredac{
 display: flex;
 flex-direction: column;
}
.colpolit {
  min-height: 991px;
  padding: 0px 0px 24px 0px;
  background: #F7F7F7;
}
.flextwosection {
  display: flex;
  justify-content: center;
}
.promo {
  padding: 24px 64px 32px;
  display: flex;
  justify-content: right;
  min-height: 409px;
  border-radius: 12px;
  background: #F7F7F7;
}
.promocolumn {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}