.news {
  min-height: 1495px;
  padding: 64px 64px 32px 64px;
  &__panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 24px;
    width: 304px;
    height: 1495px;
    border-radius: 12px;
    background: #FFFFFF;
  }
  &__allnews {
    width: 272px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    position: sticky;
  }
  &__newsall {
    font-weight: 600;
    font-size: 24px;
    color: #2D2D2D;
    position: sticky;
  }
  &__arch {
    margin-bottom: 7px;
    a {
      font-weight: 600;
      font-size: 14px;
      color: #182840;
    }
  }
  &__choicebut {
    width: 180px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      color: #919191;
      text-decoration: none;
      padding: 4px 4px 4px 4px;
      cursor: pointer;
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 34px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__litimedes {
    margin-bottom: 24px;
    span {
      font-weight: 400;
      font-size: 14px;
      color: #707070;
      margin-right: 5px;
    }
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-indent: 44px;
      color: #182840;
      text-decoration: none;
    }
  }
  &__load {
    position: relative;
    width: 272px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    font-weight: 500;
    font-size: 16px;
    color: #182840;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    margin-top: 40px;
    &:hover {
      background: #919191;
      transition: 1s all;
    }
   
  }
  &__circle {
    position: absolute;
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 0px;
    object-fit: cover;
    margin-left: 40px;
    margin-top: 3px;
  }
}
.rotate {
  animation-name: rotate;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
}

.activechoice {
  background: #FFEAE0;
  border-radius: 4px;
  color: #FF7534;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}